################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/EL-BSS/bin/Debug/EL-BSS.exe
EL-BSS/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
.vs/EL-BSS/FileContentIndex/5d469176-3677-46f9-be81-3e3010418357.vsidx
.vs/EL-BSS/FileContentIndex/7bdedc73-0750-43d6-9c91-33ce25cfd015.vsidx
.vs/EL-BSS/FileContentIndex/8a89f1e9-ee04-4b7a-9a8c-7534af15af75.vsidx
.vs/EL-BSS/FileContentIndex/8dc718a8-cd18-423c-b051-eeb205c6cf57.vsidx
.vs/EL-BSS/FileContentIndex/b5c1da3c-e2d5-4abe-bbef-d910788b820b.vsidx
*.vsidx
